.send_modal {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  &__btn {
    margin: 0;
    width: 200px;
    height: 50px;
    background-color: $main-color;
    color: #fff;
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    
  }
}
