.contact-link {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  margin-left: auto;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (min-width: 720px) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (min-width: 1255px) {
    flex-direction: row;
  }
  &__element {
    color: #757575;
    fill: $main-icon-color;
    text-decoration: none;
    margin-right: 50px;
    @media screen and (min-width: 720px) {
      margin-right: 30px;
    }
    @media screen and (max-width: 720px) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: $main-color;
      fill: $main-color;
    }
  }
  &__element--last {
    margin-right: 0;
  }
  &__tel {
    height: 16px;
    width: 10px;
    margin-right: 10px;
  }
  &__mail {
    height: 12px;
    width: 16px;
    margin-right: 10px;
  }
}
