.logo {
  font-size: 26px;
  font-family: $secondary-font;
  font-weight: 700;
  font-style: normal;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo--start {
    margin-right: 0;
  @media screen and (min-width: 720px) {
    margin-right: 83px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 95px;
  }
  color: #000;
}
.logo--end {
  // margin-left: 215px;
  color: #fff;
}
.logo__text {
  color: $main-color;
}
