.modal {
  position: fixed;
  top: 15%;
  left: 37%;
  width: 528px;
  height: 581px;
  @media screen and (max-width: 1200px) {
    top: 10%;
    left: 15%;
    width: 450px;
    height: 609px;
  }
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    scale 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.icon__modal {
  fill: $main-bacgraund-color;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 3%;
  bottom: -200%;
  &:active,
  &:focus {
    border: 1px solid $main-color;
    fill: $main-color;
  }
}
