.menu {
  display: flex;
  align-items: center;
  &__list {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 0;
    @media screen and (min-width: 720px) {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
      width: 0;
    }
    display: flex;
    list-style: none;
  }
  &__element {
    margin-right: 45px;
    &--last {
      margin-right: 0;
    }
  }
  &__item {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    color: #212121;
    text-decoration: none;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &--now {
      color: $main-color;
    }
    &--now::after {
      position: absolute;
      content: '';
      bottom: -28px;
      left: 0;
      height: 4px;
      width: 53px;
      border-bottom: 2px solid $main-color;
      border-radius: 2px;
    }
    &:hover,
    &:focus {
      color: $main-color;
      fill: $main-color;
    }
  }
  &__mobile_button {
    height: 16px;
    width: 24px;
    position: absolute;
    right: 5px;
    background-color: #fff;
    border: none;
    border-bottom: 2.67px solid #212121;
    border-top: 2.67px solid #212121;
    @media screen and (min-width: 720px) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      width: 0;
    }
  }
}
