.container {
  width: 1600px;
  margin: 0 auto;
  &--header {
    display: flex;
    align-items: center;
    min-height: 80px;
  }
  &--title_section {
    background-image: url('../images/main_bacgraund.jpg');
  }
  &--info_section {
    display: flex;
    justify-content: center;
  }
  &--portfolio_gelery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &--flex {
    display: flex;
    align-items: center;
  }
}

