.container_adress {
  margin-top: 60px;
  margin-right: 0;
  @media screen and (min-width: 760px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15%;
  }
  &__contet {
    margin-top: 20px;
  }
  &__list {
    margin-bottom: 9px;
    list-style: none;
    @media screen and (max-width: 760px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
