.info_section {
  padding: 0 0 94px;
  &__list {
    list-style: none;
    display: flex;
  }
  &__element {
    margin: 15px;
  }
}
//idealne dlamobile
// .info_section {
//   padding: 0 0 94px;
//   &__list {
//     list-style: none;
//     display: flex;
//     flex-direction: column;
//   }
//   &__element {
//     margin: 15px;
//   }
// }
