.info_section {
  padding: 0 0 94px;
  display: flex;
  justify-content: center;
  min-width: 320px;
  &__list {
    list-style: none;
    display: flex;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
    @media screen and (max-width: 1200px) {
      flex-direction:row;
      max-width: 760px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__element {
    margin: 15px;
    
  }
}
