.tech_section {
  padding: 0 0 94px;
  @media screen and (max-width: 1200px) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      padding: 0;
    }
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  &__element {
    margin: 15px;
  }
  &__image {
    position: relative;
    display: inline-flex;
    margin: 0;
  }
  &__signature {
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
